.btn_type_submit {
    max-width: 358px;
    margin-top: 18px;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    transition: opacity 200ms ease;
} 

.btn_type_submit:hover {
    opacity: .8;
}

@media screen and (max-width: 640px) {
    .btn_type_submit {
        margin-top: 15px;
        height: 46px;
        font-size: 14px;
    }
  }