.btn_type_edit {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit-btn.svg);
    margin-left: 18px;
    background-size: cover;
    position: relative;
    bottom: 10px;
}

@media screen and (max-width: 640px) {
    .btn_type_edit {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        bottom: 8px;
    }
  }